@model Product

<div class="col-6">
    <div class="card shadow mb-4">
        <div class="card-body">

            <h2> @Model.Name</h2>
           <div>@Model.ProductDetail.Description</div>

        </div>
    </div>
</div>


